<header role="main">

  <input type="checkbox" id="toggle-menu" {%- if page.url == '/' -%} checked {%- endif -%}>
  <label for="toggle-menu"></label>

  <h1>{{ site.title }}</h1>
  <nav>
    <ul>
      <li>
      <p>{%- if page.url != '/' -%} <a href="/">~/</a> {%- else -%} ~/ {%- endif -%}</p>
        <ul id="pages">
          {%- assign sorted_pages = site.pages | sort: "title" -%}
          {%- for node in sorted_pages -%}
            {%- if node.title and node.show_in_menu != false -%}
              <li>
                {%- include link.html page=node -%}
              </li>
            {%- endif -%}
          {%- endfor -%}
        </ul>
      </li>
      <li>
        <p>Links</p>
        <ul>
          <li><a href="about.html#contact">Contact</a></li>
          <li><a href="https://github.com/maxrodrigo/">GitHub</a></li>
          <li><a href="https://www.linkedin.com/in/maxrodrigo/">LinkedIn</a></li>
          <li><a href="/feed.xml">RSS</a></li>
        </ul>
      </li>
    </ul>
  </nav>
</header>
