{% comment %} Displayed link title is truncated if not in the home page {% endcomment %}

{% if page.url == '/' %}
    {% assign display_title = include.page.title %}
{% else %}
    {% assign display_title = include.page.title | truncate: 20 %}
{% endif %}

{% if include.page.url == page.url %}
  {{ display_title }} ●
{% else %}
    <a
      title="{{ include.page.title }}"

      {% comment %} Link {% endcomment %}
      {% if include.page.external_url %}
        href="{{ include.page.external_url }}"
        target="_blank"
      {% else %}
        href="{{ include.page.url }}"
      {% endif %}
    >
    {{ display_title }}
  </a>
{% endif %}
