html { scroll-behavior: smooth; }

body {
  color: $color;
  font-size: $font-size;
  font-family: $font-family;
  line-height: $default-spacing;
  padding: 0 $default-spacing;
}

:target { background: $highlight; }

a {
  color: $link-color;
  text-decoration: none;

  &:hover { text-decoration: underline }
  &:link,
  &:active { color: $link-visited-color; }
}

img { max-width: 100%; }

blockquote {
  margin:0;
  border-left: 4px solid $grey;
  padding: 0 $default-spacing;
  color: $light-color;
}

.highlight pre {
  border: 0;
  background-color: $code-background-color;
}

.footnotes {
  border-top: solid $grey thin;
  color: $light-color;
  margin-top: $default-spacing * 2;

  li p {
    margin: 0.3rem;
  }
}

.bookshelf {
  h4 {
    margin-bottom:0;
    line-height:0;
  }
}
