body{
    background-color: $background-color;
    color: $font-color;
    font-family: $font-face;
    font-size: $font-size;
    line-height: $default-spacing;
    padding: 0 $default-spacing;
}

:target { background: $highlight; }

a {
    color: $link-color;
    text-decoration: none;

    &:hover { text-decoration: underline }
    &:link,
    &:active { color: $link-visited-color; }
}

img { max-width: 100%; }

.footnotes {
    border-top: solid $dark-grey thin;
    color: $light-font-color;
    margin-top: $default-spacing * 2;
}

.bookshelf{
  h4 {
    margin-bottom:0;
    line-height:0;
  }
}

blockquote {
    border-left-color: $dark-grey;
    border-left-style: solid;
    margin-left: $default-spacing;
    padding-left: $default-spacing;
}
