body{
    background-color: $background-color;
    color: $font-color;
    font-family: $font-face;
    font-size: $font-size;
    line-height: $default-spacing;
}

a {
    color: $link-color;
    text-decoration: none;

    &:hover { text-decoration: underline }
    &:link,
    &:active { color: $link-visited-color; }

    &[target=_blank]::after{
        background-image: url(/assets/images/external_link_icon.svg);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 100%;
        content: '(external link)';
        display: inline-block;
        height: $font-size;
        margin-left: .1em;
        overflow: hidden;
        text-indent: $font-size;
        white-space: nowrap;
        width: $font-size;
    }
}

:target {
    background: $highlight; 
    padding: 0.3em;
}

pre {
    white-space: pre-wrap; //css3
    white-space: moz-pre-wrap; //firefox
    white-space: -pre-wrap; //opera 4-6
    white-space: -o-pre-wrap; //opera 7
    word-wrap: break-word; //internet explorer

    &.highlight{ padding: $default-spacing / 2; }
}

code { 
    background-color: $grey;
    padding: 0.3em;
}

header[role=main]{
    margin-right: $default-spacing;
    min-width: $default-spacing * 8;

    h1{ font-size:$font-size * 2; }

    nav ul{
        padding-left:$default-spacing;

        li p{ margin:$default-spacing/2 0; }
    }

    input[type="checkbox"]#toggle-menu,
    label[for="toggle-menu"]{ display:none; }

    label[for="toggle-menu"]{
        cursor: pointer;
        margin-top: $default-spacing;
        width:$font-size;
    }
}

#container{
    display:flex;
    justify-content:start;
    margin:0 $default-spacing;
}

.footnotes {
    border-top: solid $dark-grey thin;
    color: $light-font-color;
    margin-top: $default-spacing*2;
}

// Bookshelf

.bookshelf{
    padding: 0;

    li{
        list-style:none;
        margin-bottom: $default-spacing;

        img {
            vertical-align:top;
            width:60px;
        }
        p {
            display:inline-block;
            width: calc( 100% - 70px);
        }
        .title {
            display:block;
            font-weight:bold;
        }
        .author{ display:block; }
    }
}

// Posts

blockquote, .callout {
    background-color: $grey;
    border-radius: $default-radius;
    margin: 0;
    padding: $default-spacing / 2;

    p { margin:0 }
}

.callout { background-color: $highlight; }

.toc {
    list-style-position: inside;
    padding: 0;
}

// Labels

.label {
    background-color: $highlight;
    border-radius: $default-radius;
    display: inline-block;
    margin-right: 0.3em;
    padding: 0.3em;
}

.grey-bg { background-color: $grey; }
.blue-bg { background-color: $blue; }
.red-bg { background-color: $red; }
.green-bg { background-color: $green; }
.highlight { background-color: $highlight; }

@media only screen and (max-width: 480px) {
    header[role=main]{

        h1{
            display:inline-block;
            margin-bottom: 0;
        }

        label[for="toggle-menu"]{
            display:block;
            float: left;
            margin-right: $default-spacing;

            &:before{ content: $closed-menu-content; }
        }
        nav{
            border-bottom: solid $dark-grey thin;
            display:none;

            & > ul{ margin-top:0; }
        }

        input[type="checkbox"]#toggle-menu:checked ~ label:before{ content:$opened-menu-content; }
        input[type="checkbox"]#toggle-menu:checked ~ nav{ display:block; }
    }

    header[role=main]{
        margin-bottom: $default-spacing;
        margin-right:0;
    }

    #container{ flex-direction: column; }

    main{
        h1{ font-size:$font-size * 2; }
    }
}
