#container{
  margin:0 $default-spacing;
  display:flex;
  justify-content:start;

  header[role=main]{
    margin-right:$default-spacing * 2;
    min-width: $default-spacing * 10;
  }
}

pre {
    white-space: pre-wrap; //css3
    white-space: moz-pre-wrap; //firefox
    white-space: -pre-wrap; //opera 4-6
    white-space: -o-pre-wrap; //opera 7
    word-wrap: break-word; //internet explorer
}

@media only screen and (max-width: 480px) {
  #container{
    flex-direction: column;
    header[role=main]{
      margin-right:0;
      margin-bottom: $default-spacing;
    }
  }
}
