@font-face {
  font-family: 'Meslo LG';
  font-style: normal;
  font-weight: 400;
  src: local("Meslo LG S"), url("/assets/fonts/Meslo-LG-Font/MesloLGL-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Meslo LG';
  font-style: normal;
  font-weight: 700;
  src: local("Meslo LG S Bold"), url("/assets/fonts/Meslo-LG-Font/MesloLGS-Bold.ttf") format("truetype");
}

// Font
$font-size: 0.9rem;
$font-family: "Meslo LG", sfmono-regular,source code pro,Hack,Consolas,liberation mono,Menlo,Courier,monospace;

// Units
$default-spacing: 1.5em;
$default-radius: 0.3em;

// Colors
$code-background-color: #f6f8fa;

$color: #222;
$light-color: lighten( $color, 25% );

$link-color: #00e;
$link-visited-color: #1a0dab;

$grey: #ddd;

$highlight: #efe7bc;
