@font-face {
  font-family: 'Meslo LG';
  font-style: normal;
  font-weight: 400;
  src: local("Meslo LG S"), url("/assets/fonts/Meslo-LG-Font/MesloLGL-Regular.ttf") format("truetype");
}

@font-face {
  font-family: 'Meslo LG';
  font-style: normal;
  font-weight: 700;
  src: local("Meslo LG S Bold"), url("/assets/fonts/Meslo-LG-Font/MesloLGS-Bold.ttf") format("truetype");
}

// Font

$font-size: 0.8em;
$font-face: "Meslo LG", sfmono-regular,source code pro,Hack,Consolas,liberation mono,Menlo,Courier,monospace;

// Units

$default-spacing: 1.4em;
$default-radius: 0.3em;

// Colors

$background-color: #fcfcfc;

$font-color: #333;
$light-font-color: lighten( $font-color, 30% );

$link-color: #00e;
$link-visited-color: #1a0dab;

$grey: #eff0f1;
$dark-grey: darken( #efefef, 20% );

$blue: #74bdcb;
$red: #ffa384;
$green: #b5e5cf;

$highlight: #efe7bc;

// Content

$closed-menu-content: "\2630";
$opened-menu-content: "\268C";
