---
layout: default
---

{{ content }}

{%- for shelf in site.data.bookshelf -%}
  <h2>{{ shelf[0] | capitalize }}</h2>

  <ul class="bookshelf">
  {%- for book in shelf[1] -%}
      <li class="book">
          {% if book.cover %}
          <img src="{{ book.cover }}" alt="'{{ book.title }}' book cover">
          {% endif %}
          <p>
              <span class="title">
                {{ book.title }} 
                {%- if book.year -%}
                ({{ book.year }})
                {%- endif -%}
              </span>

              {%- if book.author -%}
              <span class="author">by {{ book.author }}</span>
              {%- endif -%}

              {%- if book.url -%}
              <a href="{{ book.url }}" target="_blank">{{ book.url }}</a>
              {%- endif -%}
          </p>
      </li>
  {%- endfor -%}
  </ul>
{%- endfor -%}
