---
layout: default
---

<p class="post-meta">
    <time datetime="{{ page.date | date_to_xmlschema  }}" itemprop="datePublished">
        {{ page.date | date_to_string }}
    </time>
    {%- if page.last_modified_at -%}
        - Revised:
        <time datetime="{{ page.last_modified_at | date_to_xmlschema  }}" itemprop="dateModified">
            {{ page.last_modified_at | date_to_string }}
        </time>
    {%- endif -%}
</p>

{%- if page.toc -%}
{% include toc.html html=content sanitize=true class="toc" %}
{%- endif -%}

{{ content }}
